:root {
  --text-color:#483C08;
  --title-color: #537D13;
  --additional-color: #DFE4DE;
  --accent-color: #7FB3E1;
  
  --peculiarity-color: #fafbfd;
  --form-color: #F9E994;
  --user-color: #F6F7E4;
  
  --animation: 250ms ease-in;
  --time-transition: cubic-bezier(0.4, 0, 0.2, 1);
}
