.footer {
  //padding: 0 0 150px 0;
  background: linear-gradient(180deg, #E1EDF8 0%,
  rgba(127, 179, 225, 0) 59.37%, 
  rgba(0, 0, 0, 0.25) 100%);
  
  //background-size: cover;
  //width: auto;
}
.footer__content{

  @include desktop{
    display: flex;
    flex-direction: row;
  }
}

.bottom__title {
  padding-top: 50px;
  padding-bottom: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 61px;
  
  text-align: center;

  color: #537D13;
  @include desktop{
    padding-top: 99px;
    padding-bottom: 58px;
    font-size: 52px;
    line-height: 61px;
  }
}

.bottom__info {
  padding: 40px;
  position: relative;
  text-align: center;

  @include desktop{
    width: 755px;
    padding: 70px 91px 41px 45px;
    text-align: left;
  }
}

.bottom__info--bgd {
  position: absolute;
  left: -157px;
  top: 168px;
  width: 623px;
  transform: rotate(90deg);

  @include desktop{
    position: absolute;
    left: 4px;
    top: 19px;
    width: 760px;
    height: 354px;
    transform: none;
  }
}

.bottom__info--text {
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;

  color: #483C08;
  @include desktop{
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 1.2;
  }
}
.bottom__info--text-last{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;

  color: #483C08;

  @include desktop {
    
    font-size: 18px;
    line-height: 1.2;
  }
}
.bottom__img {
  margin-top: 105px;

  @include desktop{
    margin-left: 35px;
    padding-top: 50px;
    margin-top: 0;
    margin-right: 0;
  }
}
.footer__img{
  width: 100%;
  object-fit: cover;
}