.footer {
  background-image: url(../images/footer.webp);
  background-size: cover;
  width: auto;
}
.bottom {}

.bottom__title {}

.bottom__info {}

.bottom__img {}

.bottom__info--bgd {}

.bottom__info--text {}
