.header {
  padding-top: 23px;
  padding-bottom: 100px;
  background: rgba(0, 0, 0, 0.3);
  
  background-image: url(../images/bgd.webp);
  background-size: cover;


}

.header__container {
  // margin-left: auto;
  // margin-right: auto;

  @include desktop{
    //width: 1110px;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
  }
  

}

.header__left {
  display: none;

  @include desktop{
    display: block;
    position: relative;
  }
  

}

.header__left--link {}

.header__left--bgd {
  position: absolute;
  top: 10px;
  left: 10px;

}

.header__left--logo {
  position: absolute;
  top: 23px;
  left: 32px;
}

.header__right {
  display: none;

  @include desktop{
    display: block;
    // padding-top: 41px;
    // padding-bottom: 38.54px;
    // padding-right: 38.54px;
    // padding-left: 77px;
    
  }
  
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include desktop{
    justify-content: end;
    background-image: url(../images/cloud-right.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

}

.header__item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-decoration-line: underline;

  color: #715D00;

}

.header__item:not(:last-child) {
  margin-bottom: 51px;

  @include desktop{
    margin-right: 51px;
  }
  
}

.header__item--link {}