.header {
  padding-top: 23px;
  padding-bottom: 100px;
  background: rgba(0, 0, 0, 0.3);

  background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
  url(../images/bgd.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.header__container {
  // margin-left: auto;
  // margin-right: auto;

  @include desktop{
    //width: 1110px;
    
  }
  

}
.header-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: none;

  @include desktop{
    display: flex;
    position: relative;
  }
  

}

.header__left--link {}

.header__left--bgd {
  // position: absolute;
  // top: 10px;
  // left: 10px;

}

.header__left--logo {
  position: absolute;
  
  top: -40px;
  right: -21px;
}

.header__right {
  display: none;

  @include desktop{
    display: block;
    position: relative;
    // padding-top: 41px;
    // padding-bottom: 38.54px;
    // padding-right: 38.54px;
    // padding-left: 77px;
    
  }
  
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include desktop{
    position: absolute;
    z-index: 1;
    left: -390px;
    z-index: 1;
    align-items: center;
    justify-content: end;
    // background-image: url(../images/cloud-right.webp);
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: right;
  }

}

.header__item {
  font-family: 'Roboto', sans-serif;
  
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-decoration-line: underline;

}
.header__item a {
  color: #715D00;
}
.header__item:not(:last-child) {
  margin-bottom: 51px;

  @include desktop{
    margin-bottom: 0;
    margin-right: 51px;
  }
  
}

.header__item--link {}