.middle {
    padding-bottom: 51px;
    background-image: url(../../images/Group5.webp);

    @include desktop{
        padding-bottom: 101px;
    }
}

.middle__title {
    margin: 50px 0 30px 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 61px;
    text-align: center;
    
    background: linear-gradient(to bottom, rgba(249, 233, 148, 1),
     rgba(83, 125, 19, 1),
     rgba(72, 60, 8, 1));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    @include desktop{
        margin: 100px 0 60px 0;
        font-size: 52px;
        line-height: 61px;
    }
}

.middle__list {
    padding: 5px 20px 5px 20px;
    display: grid;
    justify-content: center;
    @include tablet{
        grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
        grid-gap: 2vw; 
    }
    @include desktop{
        grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    }
}

.middle__item {
    padding: 0 15px 14px 15px;
    background: #F6E791;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
    @include tablet{
        width: 305px;
        height: 439px;
        margin-bottom: 30px;
    }
    @include desktop{
        width: 305px;
        height: 439px;
        margin-bottom: 30px;
    }
    
}
.middle__item:not(:last-child){
    margin-bottom: 30px;
    
    @include desktop{
        
    }
}
.middle__item--img {
    margin-left: auto;
    margin-right: auto;
}

.middle_info {
    padding: 0 17px 26px 15px;
    background: rgba(161, 211, 55, 0.4);
    border-radius: 20px;
    width: 255px;
    height: 200px;
    @include tablet{
        padding: 26px 13px 26px 15px;
        width: 275px;
        height: 218px;
    }
    @include desktop{
        padding: 26px 13px 26px 15px;
        width: 275px;
        height: 218px;
    }
}
.first{
    @include tablet{
        height: 206px;
    }
    @include desktop{
        height: 206px;
    }
}
.second{
    margin-top: 25px;
    margin-bottom: 17px;
}
.third{
    margin-top: 14px;
    margin-bottom: 6px;
}
.middle__info--title {
    padding-top: 14px;
    margin-bottom: 19px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    color: #FFFFFF;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    @include tablet{
        padding-top: 0;
        font-size: 22px;
        line-height: 1.2;
    }
    @include desktop{
        padding-top: 0;
        font-size: 22px;
        line-height: 1.2;
    }
}

.middle__info--text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;

    color: var(--text-color);
    @include tablet{
        font-size: 18px;
        line-height: 1.2;
    }
    @include desktop{
        font-size: 18px;
        line-height: 1.2;
    }
}