.timer{
    display: flex;
    justify-content: center;

    margin-bottom: 3px;
    font-family: 'Roboto',
    sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #F6E791;
    text-align: center;
}
.field{
    display: flex;
    flex-direction: row;
}