
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include mobile {
    max-width: 320px;

  }

  @include tablet {
    max-width: 1139.98px;
    
  }

  @include desktop {
    max-width: 1139.98px;
  }
}
